{% load static %}
<link rel="stylesheet" href="{% static 'tablet/style.css' %}">


<!DOCTYPE html>
<html>
<head>
    <title>Tablet</title>
    <style>
        button { font-size: 24px; padding: 20px; width: 100%; margin: 10px 0; }
    </style>

</head>
<body>
<a href="/" class="back">🏠 Dashboard</a>

    <div class="card">
        <h1>Rejestracja czasu pracy</h1>

        <button class="primary" onclick="go('register')">
            ▶ Rejestracja
        </button>

        <button class="primary" onclick="go('status')">
            📊 Status
        </button>
    </div>
</body>

    <script>
        function go(mode) {
            location.href = `/api/tablet/scan/?mode=${mode}`;
        }
    </script>

</html>
