{% load static %}
<link rel="stylesheet" href="{% static 'tablet/style.css' %}">

<!DOCTYPE html>
<html>
<head>
    <title>Status</title>
</head>
<body>
<div id="content">Ładowanie...</div>

<script>
    const params = new URLSearchParams(location.search);
    const qr = params.get("qr");

    let idleTimer = setTimeout(() => {
        location.href = "/api/tablet/";
    }, 15000);

    document.addEventListener("click", () => {
        clearTimeout(idleTimer);
        idleTimer = setTimeout(() => {
            location.href = "/api/tablet/";
        }, 15000);
    });

    function goBack() {
        location.href = "/api/tablet/";
    }

    fetch(`/api/tablet/status/?qr=${qr}&device=tablet-01`)
        .then(r => r.json())
        .then(data => {
            let html = `
            <div class="card">
                <h2>${data.employee.name}</h2>
                <div class="status">Status: <b>${data.state}</b></div>
                <div class="status">Godzina przyjścia: ${data.started_at}</div>
               <div class="status">Czas pracy: ${data.work_minutes !== null ? data.work_minutes + ' min' : '0 min'}</div>

                <div class="status">Ostatnia akcja: ${data.last_action}</div>
        `;

            // Akcje
            data.actions.forEach(action => {
                let cls = "primary";
                let label = action;

                if (action === "CHECK_IN") {
                    cls = "success";
                    label = "▶ Rozpocznij pracę";
                }
                if (action === "BREAK_START") {
                    cls = "warning";
                    label = "☕ Przerwa";
                }
                if (action === "BREAK_END") {
                    cls = "success";
                    label = "▶ Zakończ przerwę";
                }
                if (action === "CHECK_OUT") {
                    cls = "danger";
                    label = "⏹️ Koniec pracy";
                }

                html += `<button class="${cls}" onclick="doAction('${action}')">${label}</button>`;
            });

            html += `
            <button class="primary" onclick="goBack()">⬅ Powrót</button>
            </div>
        `;

            document.getElementById("content").innerHTML = html;
        });


    function doAction(action) {
        fetch("/api/tablet/events/", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                qr: qr,
                event_type: action,
                device_id: "tablet-01"
            })
        })
            .then(r => r.json())
            .then(data => {
                location.href = `/api/tablet/message/?message=${encodeURIComponent(data.message)}`;
            });
    }

</script>


</body>
</html>
